/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
database/migrations/2023_02_19_092345_create_tracer_schema.php
resources/overrides/config/laravel-tracer.php
src/Facades/Referrer.php
src/Facades/Tracer.php
src/Middleware/VisitTracing.php
src/Models/Visit.php
src/Referrer.php
src/Tracer.php
src/TracerServiceProvider.php
